<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="Jan Mikeš - PHP Developer, mentor, startup lover">
    <meta name="keywords" content="Jan, Mikeš, PHP, Developer, mentor, startup, lover, entrydo">
    <meta name="robots" content="index, follow">

    <meta name="mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-capable" content="yes">

    <title>{{ title|escape }} | {{ site_title }}</title>

    <link rel="icon" type="image/png" href="./assets/img/favicon.png">
    <link type="text/css" rel="stylesheet" href="./assets/styles.css?v={{ random() }}">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
</head>
