<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <meta name="description" content="Jan Mikeš - PHP Developer, mentor, startup lover">
        <meta name="keywords" content="Jan, Mikeš, PHP, Developer, mentor, startup, lover, entrydo">
        <meta name="robots" content="index, follow">

        <title>Jan Mikeš - IT Expert, konzultant, mentor, startup lover</title>

        <link rel="icon" type="image/png" href="./assets/img/favicon.png">
        <link type="text/css" rel="stylesheet" href="./assets/styles.css?v={{ random() }}">
        <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
        <link href="https://use.fontawesome.com/releases/v5.0.2/css/all.css" rel="stylesheet">
    </head>
    <body>
        <div class="main-container">
            <h1>Jan Mikeš</h1>

            <div class="photo">
                <img src="./assets/img/jan_mikes.jpg" alt="Jan Mikeš foto">
            </div>

            <p>Jsem 26 letý IT nadšenec, původně z Ostravy, čerstvě přestěhován do Prahy. S&nbsp;programováním jako takovým, jsem začal ve velmi brzkém věku, zhruba v 8 letech. Už od mala jsem měl 2 životní sny: stát se <a href="https://www.facebook.com/Grunex/photos/t.100000065295544/10152408022432283" target="_blank">profesionálním hráčem počítačových her</a> a programátorem. Splnil jsem si obojí, bez nadsázky tedy mohu říct, že žiji svůj sen. S hraním jsem již skončil a věnuji se naplno IT světu :-).</p>

            <p>Programování webových aplikací, se profesionálně věnuji již <strong>téměř 15 let</strong>. Na této dlouhé a překrásné cestě, jsem nasbíral spoustu zkušeností, zejména v oblastech programování, vedení vývojařského týmu, řízení společnosti a komunikace. Čas od času mě to zaválo někam, kam bych vůbec nečekal, vypíchl bych například školení od <a href="http://www.usmarketaccess.com" target="_blank">usmac</a> v San Franciscu, které spadá do <strong>Silicon Valley</strong> nebo <strong>Thajský Bangkok</strong>, kde jsem přes půl roku pracoval pro mezinárodní start-up <a href="http://hotelquickly.com" target="_blank">HotelQuickly</a>.</p>

            <p>Poslední 3 roky jsem se věnoval převážně budování projektu pro automatizaci eventů, <a href="https://entrydo.com" target="_blank">Entrydo</a>, který díky propracovanému software zkracuje jednotlivé procesy, například prodej vstupenek, odbavení na místě, fakturace nebo účetnictví.</p>

            <p>Od února 2018 jsem také členem backend týmu programátorů v <a href="http://apploud.cc" target="_blank">Apploud Digital</a>, kde se starám o to, aby vše krásně šlapalo tak, jak má.</p>

            <p>Baví mě učit se nové věci (nejen v IT oblasti), rád druhým pomáhám a předávám jim své nabité know-how. I&nbsp;to je důvod, proč jsem před nedávnem začal <a href="https://pehapkari.cz/vzdelavej-se/" target="_blank">školit</a> a přednášet. Ve všem co dělám kladu důraz na <strong>efektivitu a produktivitu</strong>. Mimo jiné jsem zastáncem <strong>otevřené komunikace</strong>.</p>

            <div class="apps-numbers">
                <p>Osobně jsem přivedl k životu více než:</p>
                <div>
                    <span class="number">150+</span>
                    Webů
                </div>

                <div>
                    <span class="number">20+</span>
                    E-shopů
                </div>
            </div>

            <h2>Zkušenosti</h2>


            <p>Mimo klasickou tvorbu webů a e-shopů mám zkušnosti s vytvářením:</p>

            <ul>
                <li>IT infrastruktury pro firmy od nuly</li>
                <li>brand essence pro nové i existující společnosti</li>
                <li>komplexních informačních systémů</li>
                <li>CRM, informační systémy a intranet na míru</li>
            </ul>

            <p>Od většiny programátorů mě odlišuje především můj přesah do byznysu, product developmentu a marketingu. Výrazy jako Corporate Identity a Value Proposition mi nejsou cizí.</p>


            <p><strong>Mimořádné zkušenosti:</strong></p>

            <ul>
                <li><strong>Go Global</strong> program - San Francisco, CA</li>
                <li>Workshop v <strong>Salesforce</strong> headquarters - San Francisco, CA</li>
                <li>Workshop v <strong>Oracle</strong> headquarters - Redwood City, CA</li>
                <li><strong>Google Launchpad</strong> for Developers - Firebase</li>
                <li><strong>Google Launchpad</strong> for Developers - UX &amp; Accesibility</li>
                <li>Vzdělávací program od <a href="https://up21.com" target="_blank">UP21</a> akcelerátoru</li>
            </ul>


            <h2>Co umím</h2>

            <p>Seznam technologií, některé ovládám stejně dobře jako češtinu, jiné jsem měl možnost si třeba jen osahat na hackathonu:</p>

            <ul class="technologies-list">
                {% for skill in skills %}
                    <li>{{ skill }}</li>
                {% endfor %}
                <li><abbr title="Domain Driven Design">DDD</abbr></li>
                <li><abbr title="Test Driven Development">TDD</abbr></li>
            </ul>

            <p><small>Tento seznam není zdaleka kompletní a slouží pouze pro představu, v jakých oblastech se orientuji.</small></p>

            <h2>Kontakt</h2>

            <p>Potřebujete konzultace? Chcete zajít na kávu a jen tak pokecat?<br>Napiště mi, vždy rád pomohu:</p>

            <ul class="contacts">
                <li>
                    <i class="far fa-envelope"></i>
                    <a data-name="j.mikes" data-domain="me" data-tld="com" href="#" class="crypted-mail" onclick="window.location.href = 'mailto:' + this.dataset.name + '@' + this.dataset.domain + '.' + this.dataset.tld"></a>
                </li>
                <li>
                    <i class="fas fa-phone"></i>
                    <a href="tel:+420773686207">+420 773 686 207</a>
                </li>
            </ul>

            <ul class="logos">
                <li>
                    <a href="https://entry.do" target="_blank">
                        <img src="./assets/img/entrydo.png" alt="Entrydo">
                    </a>
                </li>
                <li>
                    <a href="http://apploud.cc" target="_blank">
                        <img src="./assets/img/apploud.png" alt="Apploud Digital">
                    </a>
                </li>
            </ul>
        </div>
    </body>
</html>
