---
layout: "_layouts/default.twig"
title: "Talks"
id: talks
---

{% block content %}
    Talks

    {% for talk in talks %}
        <p>
            {{ talk.title }}
        </p>
    {% endfor %}
{% endblock %}